fieldset,
input,
select,
button,
textarea {
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid orange;
    border-radius: 4px;
    background-color: white;
}

fieldset {
    margin: 20px 0;
}

input[type=submit],
button {
    background-color: orange;
}